@media screen and (min-width: 0) {}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1920px) {}



:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #7a6551;
  --crust: #11111b;
}


body {
  color: var(--text);
  background-color: var(--surface0);
  font-size: 20px;
  font-family: 'PT Mono', monospace;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--crust);
  border-bottom: 2px solid var(--crust);
  display: flex;
  gap: 2vw;
}

nav>a {
  margin: 1vh 1vw;
  color: var(--blue);
  text-decoration: none;
  
}


.dropdown-menu {
  display: none;
  position: absolute;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Show the dropdown menu when hovering over the trigger element */
.dropdown-container:hover .dropdown-menu {
  display: block;
}

#coverImage img {
  width: 100%;
  height: 400px;
  display: block;
}

main {
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: left;
}

main>h1 {
  text-align: left;
}

header {
  background-position: inherit;
}

#menu-links-list {
  display: flex;
  list-style-type: none;
}

#menu-links-list>li {
  margin-left: 1vw;
  cursor: pointer;
  font-weight: bold;
}

#menu-links-list a,
.dropdown-trigger,
.dropdown-menu li {
  text-decoration: none;
  color: var(--blue)
}


nav>a:hover,
.dropdown-trigger:hover {
  filter: brightness(125%);
  text-decoration: none;
  font-weight: bold;
}


.dropdown-menu li:hover {
  background-color: var(--overlay0);
  color: var(--text);
  font-weight: bold;
}

.dropdown-container:hover .dropdown-trigger {
  filter: brightness(125%);
  font-weight: bold;
}


/*.grid-container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 10px;
  border: 1px solid #cccccc00;
}*/
.addEvent{
  border-style:solid;
  border-color: rgb(117, 38, 38);
  border-radius: 7px;
  padding-bottom: 30px;
  padding-top: 5px;
  padding-left: 10%;
}
.footer{
  margin-top: 100px;
  padding: 5px;
  align-items: center;
}

/*.......*/


section .leftBox {
  /*width: 50%;*/
  height: 100%;
  float: left;
  padding: 30px;
}

section .leftBox .content {
  color: #fff;
  background: rgba(0, 0, 0, .5);
  padding: 40px;
  transition: -5s;
}

section .leftBox .content:hover {
  background: #e91e63;
}

section .leftBox .content h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
}

section .leftBox .content p {
  margin: 10px 0 0;
  padding: 0;
}

section .events {
  position: relative;
  width: 70%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  
  
}

section .events ul {
  top: 32%;
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  
}

section .events ul li {

  List-style: none;
  background: #fff;
  box-sizing: border-box;
  height: 200px;
}

section .events ul li .time {
  position: relative;
  padding: 20px;
  background: #262626;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: .5s;
}

section .events ul li:hover .time {
  background: #e91e63;
}

section .events ul li .time h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  line-height: 30px;
}

section .events ul li .time h2 span {
  font-size: 22px;
}

section .events ul li .details {
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
}

section .events ul li .details h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

section .events ul li .details p {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

section .events ul li .details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #262626;
  margin-top: 15px;
  font-size: 18px;
  transition: .5s;

}
