

clubPage

.club-container.blue-club .clubDescriptionContainer {
    background-color: rgba(255, 255, 255, 0.675);
    border-radius: 10px;
    display: grid;
    width: 80%;
    padding: 15px;
    margin: 1%;
    font-size: 20px;
    color: black
  }
  
  .event.blue-club {
    background-color: rgba(255, 255, 255, 0.675);
    border-radius: 10px;
    float: left;
    width: 30%;
    padding: 15px;
    margin: 1%;
  }
  
  .event.blue-club {
    color: black;
  }
  
  .event.blue-club p {
    font-family: 'Open Sans', sans-serif;
  }
  
  /* changes the h3 and link font, color and nno underline*/
  .event.blue-club h3 a.event-title-link {
    font-family: 'Preahvihear', sans-serif;
    color: black;
    text-decoration: none;
    /*removes the underline*/
  }