/* Header styles */
  
.my-page{
  background: #333;
    color: black;
    padding: 15px;
    text-align: justify;
    font-size: 2em;
    background-image: url('../images/bookClubBackground.jpg');
}
.text-background {
background: rgba(255, 255, 255, 0.7);
border-radius: 50px;
}
.content-space{
  padding: 60px;
  text-align: center;
}

.allevents .events {
  flex: 0 0 calc(33.33% - 20px);
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}
/* Event Section styles */
#eventDisplayy.allevents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
}

.allevents .events:hover {
  transform: scale(1.05);
}

.allevents img {
  width: 50%;
  max-height: 50%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 768px) {
  #eventDisplayy.allevents .events{
    display: block;
  }
}