/* Header styles */
.head {
  background: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 2em;
}

/* Home Section styles */
.home {
  padding: 40px 0;
  text-align: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(137, 33, 33, 0.7)), url("/img/balloons.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

.home-content {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr;
  max-width: 70rem;
  margin: 20rem auto 0;
}

.inner-content {
  text-align: center;
  position: relative;
}

.inner-content-img {
  margin-top: 2rem;
}

.inner-content-img img {
  width: 100%;
  max-width: 45rem;
  height: auto;
  animation: icon 5s ease infinite;
}

.home h3 {
  font-size: 1.8em;
  color: #14d852;
}

/* About Section styles */
.about {
  padding: 40px 0;
  background: #5727db;
}

.about-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-content {
  max-width: 600px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .home-content {
    grid-template-columns: 1fr;
  }

  .inner-content-img {
    margin-top: 1rem;
  }
}